body {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    background: url('cjeg.jpg') no-repeat #0d0e0d;
    background-size: cover;
    padding: 0;
    margin: 0;
    transition: background 1s;
}




h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Roboto Condensed', sans-serif;
}

article {
  padding: 100px;
}



a {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    color: #72FA8E;
    text-decoration: none;
}
a:hover {
    color: #00CD2A;
    text-decoration: none;
}

.dark {
  color: #0d0d0d !important;
}

h1 {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 5.2em;
    line-height: 1em;
    font-weight: 400;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 20px;
    transition: opacity 1s;
    opacity: 1;
}




h2.subheading {
    font-size: 1.9em;
    color: white;
    font-weight: 300;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 50px;
    transition: opacity 1s;
    opacity: 1;
}
body.top h1, body.top h2 {
    opacity: 0.3;
}
h3 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 1.4em;
}

h3 span {
    border-bottom: 5px solid salmon;
    padding-bottom: 4px;
}

p {
    color: white;
    margin-bottom: 30px;
    max-width: 600px;
    margin-top: 20px;
    font-size: 1.3em;
    line-height: 1.7em;
    text-align: center;
    font-weight: 300;
}



p.img-text {
    color: #777;
    margin-bottom: 4px;
    margin-top: 10px;
    font-size: 0.8em;
    text-align: left;
}
p.img-text span {
    color: #745858;
}

iframe {
    margin-bottom: 30px;
}

.subheading a {
    color: salmon;
}

.subheading a:hover {
    color: #FDB8B0;
}

.clear {
    clear: both;
}

.container {
    position: relative;
    background-color: #fff;
    text-align: left;
    padding: 70px 100px 120px 100px;
    transition: background-color 0.5s;
}

.main-content {
  max-width: 600px;
  margin: 0 auto;
}

body.top .container {
    background-color: #fff;
}


.icons {
  margin-top: 70px;
}

.icons a {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 20px;
  margin-bottom: 20px;
}

.icons img {
  height: 80px;
  width: auto;
}

  
body.hopsop {
  background: url('bg-sky.jpg') no-repeat #18111d;
  background-size: 100% auto;
}
  
body.hopsop article {
  padding: 0;
  margin-top: 200px;
  margin-bottom: 300px;
}

body.hopsop a {
  color: #f6d930;
}
body.hopsop a:hover {
  color: #ff00a2;
}

body.hopsop h3 {
  color: white;
  text-align: left;
  font-weight: bold;
  margin-bottom: 12px;
}

h1.hopsop-heading {
  font-size: 7em;
}

.hopsop-title {
  width: 500px;
  margin: 0 auto;
  display: block;
  margin-bottom: 70px;
}

.hopsop-image {
  width: 100%;
  margin-bottom: 60px;
}

div.hopsop-main {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

p.hopsop-text {
  text-align: left;
  margin: 0 auto 40px auto;
}
.hopsop-badge {
  margin-bottom: 70px;
  text-align: center;
}
.lead {
  font-size: 1.7em;
}

.mt-md {
  margin-top: 70px;
}

.mt-sm {
  margin-top: 50px;
}

.mt-lg {
  margin-top: 120px;
}
.screenshot {
  float: left;
  width: 48%;
  margin: 1%;
  opacity: 0.75;
}
.screenshot:hover {
  opacity: 1;
}
.screenshot img{
  width: 100%;
}

.screenshots {
  margin-bottom: 70px;
  margin-left: -1%;
  margin-right: -1%;
  float: left;
}

.modal-image {
  box-shadow: 1px 1px 30px black;
}

@media only screen and (max-width: 480px){
    article {
      padding: 20px !important;
    }
    body.hopsop article {
      margin-top: 70px !important;
      
    }
    h1 {
        font-size: 3em;
    }
    h2.subheading {
        font-size: 1.3em;
    }
    p, p.hopsop-text {
      font-size: 1em;
    }

    .container, .images {
        padding: 30px;
    }
    .container {
        padding-bottom: 110px;
    }
    .images .imgwrapper {
        width: 100%;
        margin-right: 0 !important;
    }
    .hopsop-title {
      width: 100%;
      margin-bottom: 50px;
    }
    .hopsop-image {
      margin-bottom: 40px;
    }
    .screenshot {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 20px;
      opacity: 1;
      cursor: default;
    }
    .modal-image {
      display: none !important;
    }
    #lean_overlay {
      display: none !important;
    }
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}