body {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    background: url('cjeg.jpg') no-repeat #161616;
    background-size: 100% auto;
    padding: 0;
    margin: 0;
    transition: background 1s;
}



h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
}


a {
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    color: #FA8072;
    text-decoration: none;
}
a:hover {
    color: #C25548;
    text-decoration: none;
}

h1 {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 4.2em;
    line-height: 1em;
    font-weight: 400;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 20px;
    transition: opacity 1s;
    opacity: 1;
}

h2.subheading {
    font-size: 1.7em;
    color: white;
    font-weight: 300;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 50px;
    transition: opacity 1s;
    opacity: 1;
}
body.top h1, body.top h2 {
    opacity: 0.3;
}
h3 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 1.4em;
}

h3 span {
    border-bottom: 5px solid salmon;
    padding-bottom: 4px;
}

p {
    color: #555;
    margin-bottom: 30px;
    margin-top: 20px;
    font-family: 'Istok Web', sans-serif;
    max-width: 700px;
}

p.img-text {
    color: #777;
    margin-bottom: 4px;
    margin-top: 10px;
    font-size: 0.8em;
    text-align: left;
}
p.img-text span {
    color: #745858;
}

iframe {
    margin-bottom: 30px;
}

.subheading a {
    color: salmon;
}

.subheading a:hover {
    color: #FDB8B0;
}

.clear {
    clear: both;
}

.container {
    position: relative;
    background-color: #fff;
    text-align: left;
    padding: 70px 100px 120px 100px;
    transition: background-color 0.5s;
}

.para {
    margin-left: -100px !important;
    left: 50%;
    position: absolute !important;
    bottom: -110px;
}

body.top .container {
    background-color: #fff;
}

.images {
    background-color: #161616;
    padding: 100px 100px 140px 100px;
    text-align: center;
    min-height: 200px;
}

.images .imgwrapper {
    width: 45%;
    margin-bottom: 10%;
    float: left;
    
}

.images .imgwrapper img{
    width: 100%;
    float: left;
}

.images .imgwrapper a {
    float: left;
    margin-bottom: 12px;
    opacity: 0.7;
    transition: 0.15s;
    
}

.images .imgwrapper a:hover {
    /*background-color: salmon;*/
    opacity: 1;
    /*padding: 8px;*/
}

.images .imgwrapper.odd {
    margin-right: 10%;
}



@media only screen and (max-width: 480px){
    h1 {
        font-size: 3em;
    }
    h2.subheading {
        font-size: 1.3em;
    }
    .container, .images {
        padding: 30px;
    }
    .container {
        padding-bottom: 110px;
    }
    .images .imgwrapper {
        width: 100%;
        margin-right: 0 !important;
    }
}