body {
  background-color: #757571;
  color: #111111;
  font-size: 1.2em;
  font-family: 'Concert One', sans-serif;
  min-width: 330px;

}

h1, h2, h3, h4, h5, h6, legend, label {
  font-family: 'Concert One', sans-serif;
}

h1 {
  font-size: 52px;
}

a {
  color: #00aacc;
  text-decoration: none; }
  a:hover {
    color: #0088aa; }

.score-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  padding: 18px;
}
.text-center {
  text-align: center;
}

#menu-score-wrapper {
  margin: 50px auto 0;
  max-width: 300px;
  background-color: #5c5b5b;
  border-radius: 5px;
  padding: 20px;
}
#menu-score-wrapper .score-wrapper {
  position: static;
  padding: 0;
}

.training-score-label {
  color: #05aacc;
}
.contest-score-label {
  color: #d781c0;
}

.training-label {
  color: #a3fbfe;
}
.contest-label {
  color: #fabfe9;
}

.text-center {
  text-align: center;
}

input[type=number] {
  font-size: 1em;
  line-height: 24px;
  padding: 0 6px !important;
  font-family: 'Inconsolata', monospace;
  height: 36px;
  border: 0 !important;
  box-sizing: border-box;
  text-align: center;

}

button {
  padding: 8px 20px;
  font-size: 1em;
  background-color: #a3fbff;
  color: #222;
  border: 0;
  border-radius: 3px;
  outline: 0;
  /*transition: 0.01s;*/
  font-family: 'Concert One', sans-serif;

}
button:hover {
  background-color: #c5fcff;
  cursor: pointer;
}

button.settings-button {
  position: absolute;
  top: 5px;
  right: 0;
  width: 60px;
  margin-right: 0;
  padding-right: 0;
}

button.btn-3d {
  border-bottom: 10px solid #00aacc;
  box-shadow: 0px 12px 4px 0px rgba(0,0,0,0.2);
}
button.btn-3d:hover:not([disabled]) {
  background-color: #c5fcff;
  border-bottom: 10px solid #11c2e6;
  cursor: pointer;
}
button.btn-3d:active:not([disabled]) {
  background-color: #c5fcff;
  border-bottom: 2px solid #17bfe0;
  position: relative;
  /*margin-top: 8px !important;*/
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
  top: 10px;
  margin-bottom: 8px;
}


button.btn-3d-pink {
  background-color: #fabfea;
  border-bottom: 10px solid #d781c0;
}
button.btn-3d-pink:hover:not([disabled]) {
  background-color: #f7d5ee;
  border-bottom: 10px solid #db93c8;
}
button.btn-3d-pink:active:not([disabled]) {
  background-color: #f8d4ee;
  border-bottom: 2px solid #db93c8;
}

button.btn-3d-yellow {
  background-color: #ffff75;
  border-bottom: 10px solid #f5b43c;
}
button.btn-3d-yellow:hover:not([disabled]) {
  background-color: #ffff99;
  border-bottom: 10px solid #ffce74;
}
button.btn-3d-yellow:active:not([disabled]) {
  background-color: #ffff99;
  border-bottom: 2px solid #ffce74;
}


button.btn-big {
  display: block;
  line-height: 2em;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}


button.btn-confirm {
  background-color: #37de00;
  color: white;
  height: 36px;
  line-height: 24px;
  padding: 0px 20px;
  font-size: 0.9em;
}


button:disabled {
  opacity: 0.5;
}

button.btn-default {
  background-color: #61615f;
  color: white;
  height: 36px;
  line-height: 24px;
  padding: 0px 20px;
  font-size: 0.9em;
}


button:disabled.btn-default {
  opacity: 0.5;
}



button.btn-small-3d {
  height: 44px;
  box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.2);
  border-bottom: 4px solid #00aacc;
}
button.btn-small-3d:hover {
  cursor: pointer;
  background-color: #c5fcff;
  border-bottom: 4px solid #11c2e6;
}
button.btn-small-3d:active {
  background-color: #c5fcff;
  border-bottom: 1px solid #17bfe0;
  position: relative;
  margin-top: 4px !important;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  height: 40px;
}


button.btn-confirm.btn-small-3d {
  height: 38px;
  border-bottom: 4px solid #279a00;
}
button.btn-confirm.btn-small-3d:hover {
  background-color: #46e810;
  border-bottom: 4px solid rgb(62, 181, 23);
}
button.btn-confirm.btn-small-3d:active {
  background-color: #49ce1d;
  border-bottom: 1px solid #3fb618;
  height: 33px;
}


button.btn-default.btn-small-3d {
  height: 38px;
  border-bottom: 4px solid #454541;
}
button.btn-default.btn-small-3d:hover {
  background-color: #6c6c6a;
  border-bottom: 4px solid #52524d;
}
button.btn-default.btn-small-3d:active {
  background-color: #6c6c6a;
  border-bottom: 1px solid #52524d;
  height: 33px;
}

button.btn-transparent {
  background-color: transparent;
  padding-left: 0;
  border: 0;
  outline: 0;
  color: #333;
}
button.btn-transparent:hover {
  color: #ddd;
  
}

.btn-row {
  display: flex;
}
.btn-row button {
  width: 40%;
  flex-grow: 4;
}

.counter-wrapper {
  margin-top: 20px;
  height: 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 100px;
  overflow: hidden;
  background-color: #323232;
}

#counterbar {
  /*background-color: #ff5e5e;*/
  height: 100%;
  transition: 1s;
  border-radius: 100px;

  background: repeating-linear-gradient(
    45deg,
    #ff5e5e,
    #ff5e5e 10px,
    #e45353 10px,
    #e45353 20px
  );
}



#answerWrapper {
  text-align: center;
}

#feedback {
  clear: both;
}

#game {
  display: none;
}

#settings {
  display: none;
}

#test {
  display: none;
}

#testquestions {
  width: 300px;
  margin: 0 auto;
}
#testquestions input{
  width: 100%;
}

#questionText, .test-question-text {
  font-size: 1.3em;
  margin-bottom: 5px;
  text-align: center;
}

.box {
  text-align: center;
}

.green-box {
  color: #27ff00;
}

.test-result-box {
  font-size: 1.3em;
}

.big-result {
  font-size: 3em;
}
.big-result span {
  text-shadow: 0px 2px 7px rgba(0,0,0,0.5)

}

.test-result-box button{
  font-size: 19px;
}
.test-result-box p {
  margin: 10px;
}

.green-text {
  color: #28ff00;
}

.blue-text {
  color: #a3fbfe;
}

.pink-text {
  color: #fabfe9;
}

.red-box {
  color: #ff5e5e;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]+label {
  line-height: 1.5em;
  opacity: 0.6;
}
input[type=checkbox]+label .fa-check-circle,
input[type=checkbox]+label .fa-check-square {
  display: none;
}
input[type=checkbox]:checked+label {
  color: white;
  opacity: 1;
}
input[type=checkbox]#checkX:checked+label {
  color: yellow;
  opacity: 1;
  text-shadow: 5px 1px 18px yellow;
}


input[type=checkbox]:checked+label .fa-circle,
input[type=checkbox]:checked+label .fa-square {
  display: none;
}
input[type=checkbox]:checked+label .fa-check-circle,
input[type=checkbox]:checked+label .fa-check-square {
  display: inline;
}

#help {
  margin-top: 12px;
  padding-bottom: 20px;
  width: 100%;
  float: left;
  text-align: center;
}

.help-unit {
  width: 60px;
  display: inline-block;
  margin: 0 10px 10px 0;
  text-align: center;
  position: relative;
}
.help-unit.eye {
  border-radius: 100px;
  padding-bottom: 31px;
  padding-top: 17px;
}
.help-unit.eye:after {
  content: '';
  display: block;
  width: 20px;
  height: 12px;
  background-color: #ce4444;
  border-radius: 0px 0 100px 100px;
  left: 50%;
  position: absolute;
  margin-left: -10px;
  bottom: 10px;
}

.help-unit.car {
  top: 20px;
  margin: 0 10px 30px 0;
}
.help-unit.car:before {
  content: '';
  display: block;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 20px solid #464309;
  border-top: 0px solid transparent;
  top: -20px;
  position: absolute;
}
.help-unit.user-secret {
  font-size: 1.4em;
}

.help-cell {
  width: 24px;
  text-align: center;
  height: 19px;
  /* float: left; */
  /* background-color: #ff8a00; */
  margin: 3px;
  border-radius: 100px;
  display: inline-block;
  text-align: center;
}

.help-unit.eye .help-cell {
  margin: 1px;
}





.difficulty {
  position: relative;
  text-align: center;
}
.difficulty .radio-wrapper {
  display: inline-block;
  width: 72px;
}
.difficulty input {
  display: none;
}
.difficulty label {
  color: #222;
  text-transform: uppercase;
  font-size: 0.6em;
  padding: 10px;
  top: 20px;
  position: relative;
  border: 1px dashed;
}

.difficulty input:checked+div+label {
  color: black;
}
.difficulty input:checked+div.meter-infant+label {
  color: #27ff00;
}
.difficulty input:checked+div.meter-infant:after {
  background-color: #27ff00;
  height: 100%;
}
.difficulty input:checked+div.meter-low+label {
  color: #00eeff;
}
.difficulty input:checked+div.meter-low:after {
  background-color: #00eeff;
  height: 100%;
}
.difficulty input:checked+div.meter-medium+label {
  color: #ffa500;
}
.difficulty input:checked+div.meter-medium:after {
  background-color: #ffa500;
  height: 100%;
}
.difficulty input:checked+div.meter-high+label {
  color: #ff5e5e;
}
.difficulty input:checked+div.meter-high:after {
  background-color: #ff5e5e;
  height: 100%;
}

.meter {
  margin: 0 auto;
  position: relative;
  width: 50px;
  background-color: #414141;
  border-radius: 7px 7px 0 0;
}
.meter:after {
  transition: 1s;
  content: '';
  position: absolute;
  display: block;
  height: 0%;
  width: 100%;
  bottom: 0;
  border-radius: 7px 7px 0 0;
}

.meter-high {
  height: 100px;
}

.meter-medium {
  height: 60px;
}

.meter-low {
  height: 45px;
}
.meter-infant {
  height: 20px;
}


.confirm-button-wrapper {
  display: inline-block;
  height: 40px;
}

#answerField {
  display: inline-block;
  vertical-align: top;
}

.big-button-wrapper {
  max-width: 300px;
  margin: 0 auto;
}

.field-group {
  margin: 0 auto 10px auto;
  width: 300px;
}
.field-group-inline {

}

.field-group input {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 0;
  padding: 0 10px;
  font-size: 1em;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Inconsolata', monospace;
}
.field-group-inline input {
  width: auto;
  width: 100px;
  flex-grow: 4;
}
.field-group button {
  width: 100%;
  border-radius: 3px;
  border: 0;
  padding: 0 10px;
  font-size: 1em;
  box-sizing: border-box;
  outline: 0;
}

.field-group-inline .form-row {
  display: flex;
}

.field-group-inline .form-col input{
  width: 100%;
}
.field-group-inline .form-col label{
  display: block;
}

input.wrong-answer {
  background-color: #f7aeae;
  color: #882727;
}

input.correct-answer {
  background-color: #b5ffa8;
  color: #146806;
}

.toolbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  background-color: rgba(117,117,113,0.3);
  padding: 10px 10px 0 10px;
  height: 50px;
}
.toolbar-fixed+div {
  margin-top: 70px;
}

.countdown {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  
}

.countdown-text {
  position: absolute;
  padding: 10px;
  font-size: 2.2em;
  font-weight: bold;
  color: #28ff00;
  border-radius: 8px;
  margin-top: 10px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  text-align: center;
  top: 100px;
  height: 100px;
  line-height: 100px;
  background-color: #4e4e4e;
  border-bottom: 4px solid #242624;
  box-shadow: 0 0 19px 0px rgba(0,0,0,0.5);
}

#gametime {
  position: fixed;
  top: 5px;
  right: 5px;
}
.gametime-text {
  width: 120px;
  height: 50px;
  line-height: 45px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #05aacc;
  background-color: #3c3c39;
  border-bottom: 1px solid #757571;
  border-radius: 10px;
}