body {
  background-color: #757571;
  color: #111111;
  font-size: 1.2em;
  font-family: 'Concert One', cursive;

}

h1, h2, h3, h4, h5, h6, legend, label {
  font-family: 'Concert One', cursive;
}

h1 {
  font-size: 52px;
}

a {
  color: #00aacc;
  text-decoration: none; }
  a:hover {
    color: #0088aa; }

.score-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  padding: 18px;
}

.text-center {
  text-align: center;
}

input[type=number] {
  font-size: 1em;
  line-height: 24px;
  padding: 0 6px !important;
  font-family: 'Inconsolata', monospace;
  height: 36px;
  border: 0 !important;
}

button {
  padding: 8px 20px;
  font-size: 1em;
  background-color: #a3fbff;
  border: 0;
  border-radius: 3px;
  outline: 0;
  transition: 0.01s;
  font-family: 'Concert One', cursive;

}
button:hover {
  background-color: #c5fcff;
  cursor: pointer;
}

button.btn-3d {
  border-bottom: 10px solid #00aacc;
  box-shadow: 0px 12px 4px 0px rgba(0,0,0,0.2);
}
button.btn-3d:hover {
  background-color: #c5fcff;
  border-bottom: 10px solid #11c2e6;
  cursor: pointer;
}
button.btn-3d:active {
  background-color: #c5fcff;
  border-bottom: 2px solid #17bfe0;
  position: relative;
  margin-top: 8px !important;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
}



button.btn-big {
  display: block;
  line-height: 2em;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

button.btn-confirm {
  background-color: #37de00;
  color: white;
  height: 36px;
  line-height: 24px;
  padding: 0px 20px;
  font-size: 0.9em;
}


button:disabled.btn-confirm {
  opacity: 0.5;
}



button.btn-small-3d {
  height: 44px;
  box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.2);
  border-bottom: 4px solid #00aacc;
}
button.btn-small-3d:hover {
  cursor: pointer;
  background-color: #c5fcff;
  border-bottom: 4px solid #11c2e6;
}
button.btn-small-3d:active {
  background-color: #c5fcff;
  border-bottom: 1px solid #17bfe0;
  position: relative;
  margin-top: 4px !important;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  height: 40px;
}


button.btn-confirm.btn-small-3d {
  height: 38px;
  border-bottom: 4px solid #279a00;
}
button.btn-confirm.btn-small-3d:hover {
  background-color: #46e810;
  border-bottom: 4px solid rgb(62, 181, 23);
}
button.btn-confirm.btn-small-3d:active {
  background-color: #49ce1d;
  border-bottom: 1px solid #3fb618;
  height: 33px;
}

button.btn-transparent {
  background-color: transparent;
  padding-left: 0;
  border: 0;
  outline: 0;
  color: #333;
}
button.btn-transparent:hover {
  color: #ddd;
  
}

.counter-wrapper {
  margin-top: 20px;
  height: 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 100px;
  overflow: hidden;
  background-color: #323232;
}

#counterbar {
  /*background-color: #ff5e5e;*/
  height: 100%;
  transition: 1s;
  border-radius: 100px;

  background: repeating-linear-gradient(
    45deg,
    #ff5e5e,
    #ff5e5e 10px,
    #e45353 10px,
    #e45353 20px
  );
}

#questionText {
  font-size: 1.3em;
  margin-bottom: 5px;
  text-align: center;
}

#answerWrapper {
  text-align: center;
}

#feedback {
  clear: both;
}

#game {
  display: none;
}

.box {
  text-align: center;
}

.green-box {
  color: #27ff00;
}

.red-box {
  color: #ff5e5e;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]+label {
  line-height: 1.5em;
  opacity: 0.6;
}
input[type=checkbox]+label .fa-check-circle {
  display: none;
}
input[type=checkbox]:checked+label {
  color: white;
  opacity: 1;
}
input[type=checkbox]:checked+label .fa-circle {
  display: none;
}
input[type=checkbox]:checked+label .fa-check-circle {
  display: inline;
}

#help {
  margin-top: 12px;
  padding-bottom: 20px;
  width: 100%;
  float: left;
  text-align: center;
}

.help-unit {
  width: 60px;
  display: inline-block;
  margin: 0 10px 10px 0;
  text-align: center;
  position: relative;
}
.help-unit.eye {
  border-radius: 100px;
  padding-bottom: 31px;
  padding-top: 17px;
}
.help-unit.eye:after {
  content: '';
  display: block;
  width: 20px;
  height: 12px;
  background-color: #ce4444;
  border-radius: 0px 0 100px 100px;
  left: 50%;
  position: absolute;
  margin-left: -10px;
  bottom: 10px;
}

.help-unit.car {
  top: 20px;
  margin: 0 10px 30px 0;
}
.help-unit.car:before {
  content: '';
  display: block;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 20px solid #464309;
  border-top: 0px solid transparent;
  top: -20px;
  position: absolute;
}
.help-unit.user-secret {
  font-size: 1.4em;
}

.help-cell {
  width: 24px;
  text-align: center;
  height: 19px;
  /* float: left; */
  /* background-color: #ff8a00; */
  margin: 3px;
  border-radius: 100px;
  display: inline-block;
  text-align: center;
}

.help-unit.eye .help-cell {
  margin: 1px;
}





.difficulty {
  position: relative;
  text-align: center;
}
.difficulty .radio-wrapper {
  display: inline-block;
  width: 72px;
}
.difficulty input {
  display: none;
}
.difficulty label {
  color: #222;
  text-transform: uppercase;
  font-size: 0.6em;
  padding: 10px;
  top: 20px;
  position: relative;
  border: 1px dashed;
}

.difficulty input:checked+div+label {
  color: black;
}
.difficulty input:checked+div.meter-infant+label {
  color: #27ff00;
}
.difficulty input:checked+div.meter-infant:after {
  background-color: #27ff00;
  height: 100%;
}
.difficulty input:checked+div.meter-low+label {
  color: #00eeff;
}
.difficulty input:checked+div.meter-low:after {
  background-color: #00eeff;
  height: 100%;
}
.difficulty input:checked+div.meter-medium+label {
  color: yellow;
}
.difficulty input:checked+div.meter-medium:after {
  background-color: yellow;
  height: 100%;
}
.difficulty input:checked+div.meter-high+label {
  color: #ff5e5e;
}
.difficulty input:checked+div.meter-high:after {
  background-color: #ff5e5e;
  height: 100%;
}

.meter {
  margin: 0 auto;
  position: relative;
  width: 50px;
  background-color: #414141;
  border-radius: 7px 7px 0 0;
}
.meter:after {
  transition: 1s;
  content: '';
  position: absolute;
  display: block;
  height: 0%;
  width: 100%;
  bottom: 0;
  border-radius: 7px 7px 0 0;
}

.meter-high {
  height: 100px;
}

.meter-medium {
  height: 60px;
}

.meter-low {
  height: 45px;
}
.meter-infant {
  height: 20px;
}


.confirm-button-wrapper {
  display: inline-block;
  height: 40px;
}

#answerField {
  display: inline-block;
  vertical-align: top;
}